%h4
  %table.table.table-condensed.table-hovered.table-striped.table-bordered
    Employee 
    %b
      = @employee.name
    = image_tag @employee.avatar,:size =>'100'
.row
  .col-sm-12
    .col-sm-3
    .col-sm-3
      id
    .col-sm-3
      = @employee.id
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      Phone_no
    .col-sm-3
      = @employee.phone_no
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      Date of Joining
    .col-sm-3
      = @employee.date_of_joining
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      Designation
    .col-sm-3
      = @employee.designation
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      Date of Birth
    .col-sm-3
      = @employee.date_of_birth
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      Email ID
    .col-sm-3
      = @employee.email_id
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      Qualification
    .col-sm-3
      = @employee.qualification
    .col-sm-3

