=form_for(@issue) do |f|
  .col-sm-12
    %br
    .col-sm-3
      project_id
    .col-sm-3
      = @issue.task.subproject.project_id
    .col-sm-3
      project_name
    .col-sm-3
      = @issue.task.subproject.project.project_name 
  .col-sm-12
    %br
    .col-sm-3
      subproject_id
    .col-sm-3
      = @issue.task.subproject_id 
    .col-sm-3
      subproject_name
    .col-sm-3
      = @issue.task.subproject.subproject_name
  .col-sm-12
    %br
    .col-sm-3
      task_id
    .col-sm-3
      = @issue.task_id
    .col-sm-3
      task_name
    .col-sm-3
      = @issue.task.task_name
  .col-sm-12
    %br
    .col-sm-3
      issue
    .col-sm-3
      = f.text_area :issue_description
    .col-sm-3
      resolution
    .col-sm-3
      = f.text_area :resolution
  .col-sm-12
    %br 
    %center
      =f.submit 'mark as resolved',:class => "btn btn-danger"
      =f.submit 'cancel',:class => "btn btn-danger"

    

