%h4
  Task Name: 
  %b
    = @task.task_name
    (#{@task.id} )
  .col-sm-12
    .col-sm-3
    .col-sm-3
      project id
    .col-sm-3
      = @task.project_id
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      project name
    .col-sm-3
      = @task.subproject.project.project_name
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      subproject id
    .col-sm-3
      = @task.subproject_id
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      subproject name
    .col-sm-3
      = @task.subproject.subproject_name
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      status
    .col-sm-3
      = @task.status
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      owner
    .col-sm-3
      = @task.owner
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      start date
    .col-sm-3
      = @task.start_date
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      end date
    .col-sm-3
      = @task.end_date
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      actual start date
    .col-sm-3
      = @task.actual_start_date
    .col-sm-3
  .col-sm-12
    .col-sm-3
    .col-sm-3
      expected end date
    .col-sm-3
      = @task.expected_end_date
    .col-sm-3

