=form_for(@project) do |f|
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id,:readonly => true,:class =>"form-control"
    .col-sm-3
      =f.label :project_name
    .col-sm-3
      =f.text_field :project_name,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :client
    .col-sm-3
      =f.text_field :client,:class =>"form-control"
    .col-sm-3
      =f.label :description
    .col-sm-3
      =f.text_field :description,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :complexity
    .col-sm-3
      = f.select :complexity, options_for_select([['low'],['medium'],['high']]),{:include_blank => 'Select'},:class =>"form-control"
    .col-sm-3
      =f.label :priority
    .col-sm-3
      = f.select :priority, options_for_select([['low'],['medium'],['high']]),{:include_blank => 'Select'},:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :date_received
    .col-sm-3
      =f.text_field :date_received,:readonly => true,:class =>"form-control"
    .col-sm-3
      =f.label :category
    .col-sm-3
      = f.select :category, options_for_select([['a'],['termination'],['absconding']]),{:include_blank => 'Select'},:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :volume
    .col-sm-3
      = f.select :volume, options_for_select([['very small'],['small'],['medium'],['high'],['very high']]),{:include_blank => 'Select'},:class =>"form-control"
    .col-sm-3
      =f.label :primary_owner
    .col-sm-3
      = f.select :primary_owner, options_for_select([['a'],['b'],['c']]),{:include_blank => 'Select'},:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :constraints
    .col-sm-3
      =f.text_field :constraints,:class =>"form-control"
    .col-sm-3
      =f.label :date_of_starting
    .col-sm-3
      =f.text_field :date_of_starting,:readonly => true,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :expected_date_of_completion
    .col-sm-3
      =f.text_field :expected_date_of_completion,:class =>"form-control"
    .col-sm-3
      =f.label :number_of_subprojects
    .col-sm-3
      =f.text_field :number_of_subprojects,:readonly => true,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :subprojects_completed
    .col-sm-3
      =f.text_field :subprojects_completed,:readonly => true,:class =>"form-control"
    .col-sm-3
      =f.label :subprojects_in_progress
    .col-sm-3
      =f.text_field :subprojects_in_progress,:readonly => true,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :subprojects_scrapped
    .col-sm-3
      =f.text_field :subprojects_scrapped,:readonly => true,:class =>"form-control"
    .col-sm-3
      =f.label :status
    .col-sm-3
      =f.text_field:status,:readonly => true,:class =>"form-control"
  .col-sm-12
    %br
    %center
      =f.submit 'save',:class => "btn btn-success"
      =f.submit 'cancel',:class => "btn btn-danger"
   
