%h1
  Projects
.pull-right
  = link_to "Add new",new_project_path, :class => 'btn btn-warning'

  %table.table.table-condensed.table-hovered.table-striped.table-bordered
%br
.dropdown
  %button#menu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    status
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "menu1", :role => "menu"}
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} all
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} open
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} close
    %li.divider{:role => "presentation"}
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} abondonded
.row
  .col-sm-12
    %table.table.table-condensed.table-hovered.table-striped.table-bordered
      %thead
        %tr
          %th id
          %th Project Name
          %th Description
          %th Date Received
          %th Priority
          %th Status
          -# %th number of sub project
          %th View
          %th Edit
          %th Close
          %th Suspend
          %th Abondoned
          %th Destroy
          %th Add Sub Projects
          %tbody
            - @projects.each do|project|
              %tr
                %td= project.id
                %td= project.project_name
                %td= project.description
                %td= project.date_received 
                %td= project.priority
                %td= project.status
                %td= link_to "View",view_project_path(project),:class =>"btn btn-primary"
                %td= link_to "Edit", edit_project_path(project), :class => 'btn btn-primary'
                %td=link_to "Close",close_project_path(project),:class => "btn btn-primary"
                %td= link_to "Suspend",suspend_project_path(project),:class => 'btn btn-primary'
                %td= link_to "Abondoned",abondoned_project_path(project),:class => 'btn btn-primary'
                %td= link_to "Destroy", project_path(project),  :class => "btn btn-danger", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
                %td= link_to "Add sub Project",project_path(project), :class => 'btn btn-success'
