=form_for [@subproject, @task], :html => {:class => "form-horizontal", :role => "form"} do |f|
  .col-sm-12
    .col-sm-3
      =f.label :project_id
    .col-sm-3
      = @subproject.project.id
    .col-sm-3
      =f.label :project_name
    .col-sm-3
      = @subproject.project.project_name
  .col-sm-12
    .col-sm-3
      =f.label :subproject_id
    .col-sm-3
      =f.text_field :subproject_id,:class =>"form-control"
    .col-sm-3
      =f.label :subproject_name
    .col-sm-3
      = @subproject.subproject_name
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id,:class =>"form-control"
    .col-sm-3
      =f.label :task_name
    .col-sm-3
      =f.text_field :task_name,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :priority
    .col-sm-3
      = f.select :priority, options_for_select([['low'],['medium'],['high']]),{:include_blank => 'Select'},:class =>"form-control"
    .col-sm-3
      =f.label :expected_number_of_days
    .col-sm-3
      =f.text_field :expected_number_of_days,:class =>"form-control"
  .col-sm-12
    %br
    %center
      = f.hidden_field :project_id, :value => @task.subproject.project_id
      = @task.subproject.project_id
      = f.submit 'done',:class => "btn btn-success"
      = f.submit 'cancel',:class => "btn btn-danger"
